{% extends "static/base.html" %}

{% block title %}MCAB Test{% endblock %}

{% block head %}
<link type="text/css" rel="stylesheet" href="/stylesheets/test.css" />
<script src="/scripts/processing.js" type="text/javascript"></script>
<script type="text/javascript">
	var bound = false;
	var pjs;
	function bindJavascript() {
	pjs = Processing.getInstanceById('textCanvas');
	if(pjs!=null) {
	  pjs.bindJavascript(this);
	  bound = true; }
	if(!bound) setTimeout(bindJavascript, 250);
	}
	bindJavascript();

	function showXYCoordinates(x, y) {
		console.log(x+","+y);
	}

	function logData(url, data, dataID) {
		var httpRequest;
		if (window.XMLHttpRequest) { // Mozilla, Safari, ...
		  httpRequest = new XMLHttpRequest();
		} else if (window.ActiveXObject) { // IE
		  try {
		    httpRequest = new ActiveXObject("Msxml2.XMLHTTP");
		  } 
		  catch (e) {
		    try {
		      httpRequest = new ActiveXObject("Microsoft.XMLHTTP");
		    } 
		    catch (e) {}
		  }
		}

		if (!httpRequest) {
		  alert('Giving up :( Cannot create an XMLHTTP instance');
		  return false;
		}
		httpRequest.onreadystatechange = logDataReceived
		httpRequest.open('POST', url);
		httpRequest.send(data);
	}

		function logDataReceived() {
			if (httpRequest.readyState === 4) {
			  if (httpRequest.status === 200) {
			    pjs.logDataReceived(httpRequest.dataID);
			  } else {
			    alert('There was a problem with the request.');
			  }
			}
		}
</script>
{% endblock %}

{% block toolbar %}
{% endblock %}`

{% block content %}


	<canvas id="textCanvas" data-processing-sources="/processing/Self_Rating_Test.pde" width="800" height="600" style="border:1px solid #000000;">
		Your browser does not support the HTML5 canvas tag. We recommend downloading <a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a>.
	</canvas>


{% endblock %}